{% extends 'products/base.html' %}
{% load static %}

{% block CSS%}
  <link rel="stylesheet" href="{% static '/css/index2.css' %}">
{% endblock %}


{% block content %}
<div id="about">
    <div class="title">ABOUT</div>
    <div class="subtitle">we are located in a picturesque city on the Mediterranean coast. </div>
      <div class="image-wrapper">
        <img src="{% static '/image/image6.webp' %}" id="img5">
      </div>
</div>

<div id="about">
    <div class="subtitle">The hotel has an outdoor pool, a restaurant with a varied menu of local cuisine </div>
    <div class="subtitle">and a spa where you can relax after a busy day.</div>
    <div class="image-container"> 
        <img src="{% static '/image/image7.jpg' %}" id="img7">
        <img src="{% static '/image/image8.jpg' %}" id="img8">
        <img src="{% static '/image/image9.jpg' %}" id="img9">
        <img src="{% static '/image/image10.jpg' %}" id="img=10">
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="left">
      <div class="bottom-subtitle">Spain, Bilbao</div>
      <div class="bottom-subtitle">Calle iscar peyra 15-17</div>
    </div>
    <div class="right">
      <div class="bottom-subtitle">General manager:</div>
      <div class="bottom-subtitle">Eugenia Marcos Lopez</div>
    </div>
</footer>
{% endblock %}
