{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/index6.CSS' %}">
    <title>{{ title }}</title>
</head>
    <body>
<body>

<div class="center-container">
    <div class="white-rectangle">
        <div id="RESERVATION!">
            <div class="title">RESERVATION COMPLETED!</div>
        </div>
        <div id="return-to-home">
            <div class="subtitle" onclick="goToHome()">return to main</div>
        </div>
    </div>
 </div>

<script>
    function goToHome() {
        window.location.href = '{% url 'index' %}'; // Укажите здесь путь к главной странице
    }
</script>
