body {
    font-family: 'Roboto Slab';
    background-color: #EFEBE9;
    /* text-align: center; */
    margin: 0;
    padding: 0;
}

.title{
    color: #2E7204;
    font-size: 48px;
    margin-top: 269px;
    margin-bottom: auto;
    text-align: center;
}

.subtitle{
    color: #000000;
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    background-color: #f0f0f0; /* Фон для контраста */
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.white-rectangle {
    background-color: #ffffff; /* Белый фон */
    padding: 50px;
    border: 1px solid #ffffff; /* Острые углы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта */
    text-align: center; /* Центрирует текст внутри */
}

.title {
    color: #2E7204;
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: auto;
    text-align: center;
}

.subtitle {
    color: #000000;
    font-size: 48px;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}

.subtitle:hover {
    color: #2E7204; /* Цвет при наведении курсора */
}