body{
    font-family: 'Roboto Slab';
    background-color: #EFEBE9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

.navbar-one {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    background-color: #F5F4F3;
    padding: 0px 10px;
    width: 100%; /* Задает навбар шириной во всю страницу */
    position: fixed; /* Фиксирует навбар в верхней части страницы */
    top: 0;
    left: 0;
    z-index: 1000; /* Обеспечивает поверхностное положение навбара */
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-one a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center; 
}

.navbar-one a:hover {
    color: #2E7204;
}

.navbar-one a#home {
    color: #2E7204; 
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #2E7204;
    margin: 4px;
}

.dropdown {
    display: none;
    flex-direction: column;
    background-color: #F5F4F3;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 1;
}

.dropdown a {
    padding: 10px;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .navbar-left, .navbar-right {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .navbar-one.active .dropdown {
        display: flex;
    }
}

.main-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.title {
    color: #2E7204;
    font-size: 44px;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

.main-container {
    width: 300px;
}

.input-container {
    margin-bottom: 7px; /* Расстояние между полем ввода и следующим элементом */
    text-align: center; /* Центрирует текст над полями */
    width: 100%; /* Задает ширину полей ввода */
}

.input-container label {
    display: block;
    margin-bottom: 1px; /* Увеличенное расстояние снизу от метки */
    margin-top: 5px;
    font-size: 1.5rem; /* Увеличение размера текста над полями ввода */
}

.input-container input {
    border: 2px solid #ccc;
    width: 250px; /* Ширина полей ввода */
    padding: 10px;
    box-sizing: border-box;
    margin-left: 0px;
    font-size: 15px;
    text-align: left !important;

}

.subtitle {
    margin: 10px 0;
    font-weight: bold;
}


.footer {
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .left, footer.right {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 40px;
}

.btn {
    color: #666666; 
    padding: 10px 20px; 
    text-decoration: none; 
    font-size: 1.2rem; /* Размер текста */ 
    background-color: #f0f0f0; /* Цвет фона */ 
    border-radius: 5px; /* Скругленные углы */ 
    border: none; /* Убираем границу */ 
    transition: background-color 0.3s ease; 
    display: inline-block; 
    margin-top: 10px;
} 
.btn:hover { 
    background-color: #2E7204; /* Цвет фона при наведении */ 
    color: #fff; /* Цвет текста при наведении */ 
}

.white-rectangle {
    margin-top: 80px; /* Добавлено, чтобы избежать перекрытия с навбаром */
    background-color: #ffffff; /* Белый фон */
    padding: 20px;
    border: 1px solid #f0f0f0; /* Острые углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта */
    text-align: center; /* Центрирует текст внутри */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px; /* Увеличенная ширина прямоугольника */
    height: 500px; /* Автоматическая высота */
    position: relative;
}
