body {
    font-family: 'Roboto Slab';
    background-color: #EFEBE9;
    /* text-align: center; */
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Фон для контраста */
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.white-rectangle {
    background-color: #ffffff; /* Белый фон */
    padding: 20px;
    border: 1px solid #f0f0f0; /* Острые углы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта */
    text-align: center; /* Центрирует текст внутри */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 700px; /* Увеличенная ширина прямоугольника */
    height: 600px; /* Высота прямоугольника */
}

.row {
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 50px; /* Увеличивает расстояние между полями CVV/CVC и Valid Until */
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
    width: 90%;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 2rem; /* Увеличение размера текста над полями ввода */
}

.input-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.input-container.cvv, .input-container.valid-until {
    width: 45%; /* Ширина для CVV/CVC и Valid Until */
}

input[type="text"]:invalid + small {
    color: rgb(0, 0, 0);
    display: block;
}

.title {
    color: #2E7204;
    font-size: 48px;
    margin-bottom: 10px;
    cursor: pointer;
}

.title:hover {
    color: rgb(0, 0, 0); /* Цвет при наведении курсора */
}

.btn {
    color: #666666; 
    padding: 10px 20px; 
    text-decoration: none; 
    font-size: 1.2rem; /* Размер текста */ 
    background-color: #f0f0f0; /* Цвет фона */ 
    border-radius: 5px; /* Скругленные углы */ 
    border: none; /* Убираем границу */ 
    transition: background-color 0.3s ease; 
    display: inline-block; 
    margin-top: 10px;
} 
.btn:hover { 
    background-color: #2E7204; /* Цвет фона при наведении */ 
    color: #fff; /* Цвет текста при наведении */ 
}